body{
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  background: #140606;
  padding: 0 20px;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.form{
  margin: 10px 0px;
}
.menu{
  margin-top: 10px;
}
input {
  border: 0;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
  height: 20px;
  width: 200px;
  margin: 5px
}
.color {
  border: 0;
  padding: 0;
  width: 20px;
}
#garage{
  margin: 10px 0px;
  color:#fff;
}
.winners{
  margin: 10px 0px;
  color:#fff;
}
.garage{
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}
.control-panel{
  margin: 5px 0;
  display: flex;
  gap: 5px;
}
.icon{
  padding: -2px;
  /* width: 20px; */
  /* height: 15px; */
}
 input:disabled {
  background: rgb(134, 133, 133);
}
.color:disabled{
  background: rgb(134, 133, 133);
}
.car-name {
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color:rgb(94, 233, 30)
}
.message-winner {
  text-align: center;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Arial Narrow', sans-serif;
  letter-spacing: 2px;
  font-size: 50px;
  width: 500px;
  color: rgb(255, 209, 209);
  text-shadow: 0 -1px 4px #000, 0 -2px 10px #ff0, 0 -10px 20px #715232, 0 18px 40px #8d3c3c;
}
.message-winner.visible {
  display: block;
} 
li{
  list-style-type: none;
  border-bottom: 3px dashed white;
  margin-bottom: 5px;
  position: relative;
}
.road{
  position: relative;
}
.flag{
  position: absolute;
  right: 100px;
  bottom: 0px;
  font-size: 50px;
}
table{
  border-collapse: collapse;
  border-radius: 5px;
  margin: 20px 0px;
}
thead{
  background-color: rgb(126, 63, 19);
}
th{
  padding: 10px 20px;
  cursor: pointer;
}
#winners-view{
  display: none;
}
td{
  padding: 5px 20px;
}
tbody{
  border-collapse: collapse;
  background: rgb(194, 193, 193);
}
.car {
  width: 80px
}
.hidden{
  display: none;
}
